*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/notification/build/intermediates/aar_metadata/debug/aar-metadata.properties
/notification/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/notification/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/notification/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/notification/build/kotlin/compileDebugKotlin/build-history.bin
/notification/build/intermediates/javac/debug/classes/com/example/notification/BuildConfig.class
/notification/build/intermediates/runtime_library_classes_dir/debug/com/example/notification/BuildConfig.class
/notification/build/.transforms/324a0321367f852bd9d571ae385cfce7/transformed/debug/com/example/notification/BuildConfig.dex
/notification/build/generated/source/buildConfig/debug/com/example/notification/BuildConfig.java
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/notification/build/intermediates/compile_library_classes_jar/debug/classes.jar
/notification/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/counters.tab
/notification/build/.transforms/324a0321367f852bd9d571ae385cfce7/transformed/desugar_graph.bin
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/notification/build/kotlin/compileDebugKotlin/last-build.bin
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i.len
/notification/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/notification/build/outputs/logs/manifest-merger-debug-report.txt
/notification/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/notification/build/intermediates/incremental/mergeDebugShaders/merger.xml
/notification/build/intermediates/incremental/packageDebugAssets/merger.xml
/notification/build/intermediates/incremental/packageDebugResources/merger.xml
/notification/build/intermediates/navigation_json/debug/navigation.json
/notification/build/intermediates/runtime_library_classes_dir/debug/META-INF/notification_debug.kotlin_module
/notification/build/tmp/kotlin-classes/debug/META-INF/notification_debug.kotlin_module
/notification/build/intermediates/runtime_library_classes_dir/debug/com/example/notification/NotificationHandler$Companion.class
/notification/build/tmp/kotlin-classes/debug/com/example/notification/NotificationHandler$Companion.class
/notification/build/.transforms/324a0321367f852bd9d571ae385cfce7/transformed/debug/com/example/notification/NotificationHandler$Companion.dex
/notification/build/intermediates/runtime_library_classes_dir/debug/com/example/notification/NotificationHandler.class
/notification/build/tmp/kotlin-classes/debug/com/example/notification/NotificationHandler.class
/notification/build/.transforms/324a0321367f852bd9d571ae385cfce7/transformed/debug/com/example/notification/NotificationHandler.dex
/notification/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/notification/build/intermediates/packaged_manifests/debug/output-metadata.json
/notification/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/notification/build/intermediates/compile_r_class_jar/debug/R.jar
/notification/build/intermediates/compile_symbol_list/debug/R.txt
/notification/build/intermediates/local_only_symbol_list/debug/R-def.txt
/notification/build/intermediates/library_java_res/debug/res.jar
/notification/build/.transforms/2e7dea49e904052cec144705cde58588/results.bin
/notification/build/.transforms/324a0321367f852bd9d571ae385cfce7/results.bin
/notification/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab
/notification/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/notification/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.len
/notification/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/notification/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i
/notification/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i.len
